.product-item {


  &__title {
    /*background-color: #E9DFDF;*/
    text-align: center;
   /* border: 1px solid #000000;
    border-radius: 30px;*/
  }
  &__price {
    font-size: 22px;
    color: #910618;
  }
  &__article{
    font-size: 10px;
  }

  &__container, &__cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19vw;
    margin: 8px 1px;
    padding: 0;
   /* border: 2px solid #000000;
    border-radius: 3px;*/
  }

  &__cont{
    position: relative;
  }

  &__cart-container {
    position: relative;
  }

  &-img {
    width: 80%;
    position: relative;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.btn__add-to-cart {
  width: 50%;
  font-size: 14px;
  font-weight: bold;
}

.img__add-to-favorites {
  cursor: pointer;
  width: 10%;
  position: absolute;
  top: 5px;
  left: 5px;


}