.App {

  &__nb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100vw;
    border-top: 1px solid dimgrey;
    border-bottom: 1px solid dimgrey;
    background-color: #1dbc18;
  }

  &__logo-text {
    margin-left: 1vw;
    font-size: 40px;
    font-weight: bold;
    color: #660512;
    text-decoration: none;
  }
}
.nb__wrapper-link{
  list-style: none;
  font-size: 26px;
  font-weight: bold;
  color: #660512;
 }

.nb__link{
  text-decoration: none;
  color: #660512;
  padding-right: 15px;
}




